body{
	background-color: skyblue;
	background-image: url("../images/001.PNG");
	background-repeat: repeat-xy;
	background-image-opacity: 0.1;
	background-position: right top;
	background-size:  100px 100px;

}
/*this is my css file */
#heading{
	color: hsl(0, 100%, 50%);
}
.new-p{
	height: 200px;
	width: 200px;
	background-color: white;
	opacity: 0.1;

}
#new-p{
	color: red;
	opacity: 1;
}
#new-d{

letter-spacing: 5px;
	height: 100px;
	width: 200px;
	position: absolute;
	top: 100px;
	z-index: 99;
}
p.black{
	color: hsl(0, 100%, 50%);
	border: double green;
	width: 300px;
	text-transform: uppercase;
	white-space: nowrap;

}
h1.black{
	color: green;
	border:  dotted red 2px;
	width: 300px;
	background-color: #ffffff;
	
}
a.black{
	color: skyblue;
	border: inset 50px;
	text-transform: uppercase;
	}
h1.black{
	outline-style: solid;
	outline-width: thick;
	outline-offset: 5px;
	text-decoration-line: underline;
	text-decoration-color: black;
	text-decoration-style: dashed;
	text-transform: capitalize;
	text-indent: 50px;
	letter-spacing: 5px;
	line-height: 1;
}
